<!DOCTYPE html>
<html>
<title>Example</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Example</h2>
</div>

<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openTab('Overview')">Overview</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Docs')">Docs</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Samples')">Samples</button>
</div>

<div id="Overview" class="w3-container tab">
  <h2>Overview</h2>
  <p>This is an overview of the software and website.</p>
</div>

<div id="Docs" class="w3-container tab" style="display:none">
  <h2>Docs</h2>
  <p>List of version documents.</p> 
</div>

<div id="Samples" class="w3-container tab" style="display:none">
  <h2>Samples</h2>
  <p>Other samples or examples.</p>
</div>

<script>
function openTab(tabName) {
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    document.getElementById(tabName).style.display = "block";  
}
</script>

</body>
</html>

