<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://aNiemack.github.io/source">Source Download</a></li>
	        		<li><a href="https://aNiemack.github.io/guide">Source Installation Guide</a></li>
              <li><a href="https://aNiemack.github.io/binary">Binary Download</a></li>
	        		<li><a href="https://aNiemack.github.io/binary_guide">Binary Installation Guide</a></li>
				</ul>
			</footer>
		</body>
</html>
